[submodule "lib/p"]
	path = lib/p
	url = ../p
[submodule "lib/x"]
	path = lib/x
	url = ../x
[submodule "lib/disorder.hs"]
	path = lib/disorder.hs
	url = ../disorder
[submodule "lib/jetski"]
	path = lib/jetski
	url = ../jetski
[submodule "lib/anemone"]
	path = lib/anemone
	url = ../anemone
[submodule "lib/zebra"]
	path = lib/zebra
	url = ../zebra
[submodule "lib/snapper"]
	path = lib/snapper
	url = ../snapper
[submodule "lib/piano"]
	path = lib/piano
	url = ../piano
[submodule "lib/viking"]
	path = lib/viking
	url = ../viking
